#gameConLogo
{
	display:block;
	margin-top:0%;
	margin-left:auto;
	margin-right:auto;
	width:35%;
	height:35%;
	padding:0px;
}
body
{
    margin: 0%;
    background: #231F20;
    color:white;
}
a
{
    color:white;
    text-decoration: none;
    margin: 50px;
}
#header
{
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
    text-align: center;
    background: #0C0C0C;
    font: bold 30px 'Helvetica'; 
}
#smallLogoDiv
{
    position:absolute;
    top: 13px;
    left: 100px;

}
#smallLogo
{
    display: block;
    width: 25%;
    height: auto;
    margin-bottom:30px;
    float:left;
}
#darkDiv
{
    padding-top:50px;
    display: block;
    background: #0C0C0C;
    font: 30px 'Helvetica';
    width:1920px;
    height:1000px;
    margin:auto;
}
#homeText
{
    text-align: center;
    margin-left:250px;
    margin-right:250px;
}
#dates
{
    font-weight: bold;
    font-style: italic;
}
#bold
{
    font-weight:bold;
}
/* #holder
{
    width: 1800px;
    height: 2000px;
    font:30px 'Helvetica';
    margin:auto;
    align-self: center;
}
#eventsDiv
{
    width:750px;
    float:left;
    height:300px;
    padding:40px;
}
#separatorDiv
{
    width:2px;
    float:left;
    height:1000px;
    background-color:#333333;
    background-clip:content-box;
    padding: 10px;
    padding-top: 50px;
    
}
#guestsDiv
{
    width:750px;
    float:left;
    height:300px;
    padding:40px;

}
#nintendoBooth
{
    float:left;
    width:60%;
}
#shigeruMiyamoto
{
    float:left;
    width: 60%;
    height: 40;
    margin-right:10px;
} */
#clear
{
    clear:both;
}
h1
{
    font: bold 40pt 'Helvetica';
    text-align:center;
    color:white
}
h6
{
	font: bold 40pt 'Helvetica';
	text-align:center;
}
