#gameConLogo
{
	display:block;
	margin-top:0%;
	margin-left:auto;
	margin-right:auto;
	width:35%;
	height:35%;
	padding:0px;
}
body
{
    margin: 0%;
    background: #231F20;
    color:white;
}
a
{
    color:white;
    text-decoration: none;
    padding-right: 50px
}
#header
{
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 25px;
    text-align: center;
    background: #0C0C0C;
    font: bold 30px 'Helvetica'; 
}
#smallLogoDiv
{
    position:absolute;
    top: 6px;
    left: 100px;

}
#smallLogo
{
    display: block;
    width: 35%;
    height: auto;
}
#darkDiv
{
    display: flex;
    background: #0C0C0C;
    font: 30px 'Helvetica';
    margin:auto;
}
#holder
{
    width: 1400px;
    font:30px 'Helvetica';
    margin:auto;
    align-self: center;
}
#eventsDiv
{
    width:600px;
    float:left;
    height:300px;
    padding:40px;
}
#guestsDiv
{
    width:600px;
    float:left;
    height:300px;
    padding:40px;

}
#clear
{
    clear:both;
}
h1
{
    font: bold 40pt 'Helvetica';
    text-align:center;
    color:white
}
h6
{
	font: bold 40pt 'Helvetica';
	text-align:center;
}
