#gameConLogo
{
	display:block;
	margin-top:0%;
	margin-left:auto;
	margin-right:auto;
	width:20%;
	height:20%;
	padding:0px;
}
body
{
    margin: 0%;
    background: #231F20;
    color:white;
}
a
{
    color:white;
    text-decoration: none;
    padding-right: 50px
}
#header
{
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    background: #0C0C0C;
    font: bold 30px 'Helvetica' ; 
}
#smallLogoDiv
{
    position:absolute;
    top: 6px;
    left: 100px;

}
#smallLogo
{
    display: block;
    width: 35%;
    height: auto;
}
#logoDiv
{
    padding-top: 50px;
    padding-bottom: 25px;
    background: #231F20;
}
#darkDiv
{
    padding-top:50px;
    display: block;
    background: #0C0C0C;
    font: 30px 'Helvetica';
    width:1920px;
    height:2000px;
    /* margin:auto; */
}
h1
{
    text-align: center;
}
#eventHolder
{
    width: 1800px;
    height: 400px;
    font:30px 'Helvetica';
    margin-left:100px;
    float:left;
    margin-bottom: 200px;
    /* align-self: center; */
}
#eventImageDiv
{
    width: 700px;
    height: 300px;
    padding: 40px;
    float:left;
}
#nintendoBooth
{
    float:left;
    width:100%;
}
#eldenRingBooth
{
    float:left;
    width:100%;
}
#showDetailsDiv
{
    float:left;
    width: 250px;
    height: 2000px;
    padding-top: 150px; 
    padding-left: 25px;
}
#clear
{
    clear:both;
}
#showArrow
{
    float:left;

}
#detailsDivOne
{
    padding-top: 160px;
    width: 600px;
    float: left;
    color: white;
}
